$themeRedColor: #d32;
$themeMoodColor: #234;

$navbarHeight: 120px;
$topMenuHeight: 50px;

$socialIconSize: 32px;

$transitionTimeMs: 250ms;
$animationTimeMs: 500ms;
$disappearTimeMs: 1000ms;

// Adaptive layouts...
$smallTreshold: 660px;
$mobileTreshold: 980px;
$wideTreshold: 1200px;

// Blocks
$blockTopMenu: '.t229';
$blockNavHeader: '.t821';
