@import '../variables';

.StarSection {
  .content {
    margin: 2em;
    position: relative;
    &:before {
      @mixin hSpace($size) {
        left: $size;
        right: $size;
      }
      @mixin vSpace($size) {
        top: $size;
        bottom: $size;
      }
      @include hSpace(35%);
      @media (width < $mdTreshold) {
        height: 200px;
      }
      @media (width >= $mdTreshold) {
        @include vSpace(2em);
        position: absolute;
      }
      display: block;
      content: '';
      // border: 1px solid red !important; // DEBUG
      background-image: url('../assets/Star/advantbg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (width >= $mdTreshold) {
      min-height: 600px;
    }
    @media (width >= $lgTreshold) {
      min-height: 500px;
    }
    .ItemsRow {
      display: flex;
      @media (width < $mdTreshold) {
        flex-direction: column;
      }
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .Item {
      @media (width >= $mdTreshold) {
        width: 360px;
      }
      line-height: 1.3;
      h2 {
        font-family: var(--softFont);
        color: var(--goldColor);
        font-size: 2em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
